{% extends 'base.html' %}
{% block title %}FindrSeekr{% endblock %}


{% block content %}
<h1 class="text-center">FindrSeekr</h1>
    <img id="banner" src="{{ url_for('static', filename='img/hero_img.jpg') }}"  class="img-fluid rounded" alt="w_i_t" height="320">
        <h2 class="text-center">About Findr Seekr</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
magna aliqua. Mi quis hendrerit dolor magna. Nisl purus in mollis nunc sed id semper risus. Nibh tortor id
aliquet lectus. Enim tortor at auctor urna nunc id cursus metus aliquam. Non tellus orci ac auctor augue mauris.
Enim blandit volutpat maecenas volutpat. Risus nec feugiat in fermentum posuere. Quam pellentesque nec nam
aliquam sem et. Ut consequat semper viverra nam libero. Vitae turpis massa sed elementum tempus. Semper risus
in hendrerit gravida rutrum quisque. Sed egestas egestas fringilla phasellus faucibus scelerisque. Diam maecenas
sed enim ut sem viverra. Egestas fringilla phasellus faucibus scelerisque eleifend. Vestibulum sed arcu non
odio. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Faucibus interdum posuere lorem ipsum dolor
sit amet. Vel fringilla est ullamcorper eget nulla facilisi. Etiam tempor orci eu lobortis elementum nibh
tellus molestie.</p>
    <h2 class="text-center">Open Positions</h2>
        <div class="job-cards">
            {% for job in jobs %}
                {% include 'job_item.html' %}
            {% endfor %}
        </div>
            <div class="contact-button">
                <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
            </div>
        <p class="created-by">Created by Shanice.</p>

{% endblock %}



