<div class="job border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
    <div class="col-9">
    <h5 style="margin-bottom: 4px;">{{job['title']}}</h5>
        {% if 'city' in job %}
            <div>
                <b>Location: </b>{{job['city']}}, {{job['country']}}
            </div>
        {% else %}
            <div>
                <b>Location: </b>{{job['country']}}
            </div>
        {% endif %}
        {% if 'salary' in job %}
            <div>
            {% if job['currency'] == 'GBP' %}
                <p><b>Salary: </b>£{{job['salary']}}</p>
            {% elif job['currency'] == 'USD' %}
                <p><b>Salary: </b>${{job['salary']}}</p>
            {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="col-3 d-flex align-items-end flex-column mb-3">
    <a href="/jobs/{{ job['id'] }}" type="button" class="btn btn-outline-primary" id="apply-btn">Apply</a>
    </div>
</div>


